<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminLoginCheckController</servlet-name>
        <servlet-class>com.ebuss.controller.AdminLoginCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddBussRootController</servlet-name>
        <servlet-class>com.ebuss.controller.AdminAddBussRootController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddTrainRootsController</servlet-name>
        <servlet-class>com.ebuss.controller.AdminAddTrainRootsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegisterController</servlet-name>
        <servlet-class>com.ebuss.commons.StudentRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheckController</servlet-name>
        <servlet-class>com.ebuss.controller.LoginCheckController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddingTrainSeats</servlet-name>
        <servlet-class>com.ebuss.controller.AddTrainSeats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrainsSeatsFirst</servlet-name>
        <servlet-class>com.ebuss.controller.AddTrainsSeatsFirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusSeatsFirts</servlet-name>
        <servlet-class>com.ebuss.controller.AddBusSeatsFirts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegisterController</servlet-name>
        <servlet-class>com.ebuss.commons.CustomerRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBusAndTrainController</servlet-name>
        <servlet-class>com.ebuss.controller.AddBusAndTrainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginCheckController</servlet-name>
        <url-pattern>/adminLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddBussRootController</servlet-name>
        <url-pattern>/addBussRoots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddTrainRootsController</servlet-name>
        <url-pattern>/addTrainRoots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegisterController</servlet-name>
        <url-pattern>/StudentRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheckController</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddingTrainSeats</servlet-name>
        <url-pattern>/addTrainSeats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrainsSeatsFirst</servlet-name>
        <url-pattern>/addTrainsSeatsFirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusSeatsFirts</servlet-name>
        <url-pattern>/addBusSeatsFirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegisterController</servlet-name>
        <url-pattern>/customerRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBusAndTrainController</servlet-name>
        <url-pattern>/AddBusAndTrainController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
